.jobs-bg {
  background-color: black;
  color: white;
  width: 100vw;
}

.search-container {
  border: 1px solid #475569;
  border-radius: 2px;
  display: flex;
  flex-direction: row;
  max-width: 530px;
  justify-content: space-between;
  margin: 20px;
}

.search-input {
  background-color: black;
  border: 0px;
  width: 430px;
  color: white;
}

.search-button {
  background-color: #2f2f2f;
  color: #2f2f2f;
  border: 0px;
}
.search-icon {
  color: #cbd5e1;
  margin-top: 2px;
}
.jobs-content {
  display: flex;
  justify-content: center;
}
.jobs-content {
  display: flex;
  flex-direction: row;
}

.left-column {
  margin: 20px 0px 0px 40px;
  width: 25vw;
  display: flex;
  flex-direction: column;
  justify-content: top;
  align-items: flex-start;
}

.right-column {
  width: 75vw;
  display: flex;
  flex-direction: column;
}

.type-filters {
  list-style: none;
}

.horz-line {
  width: 20vw;
}

.jobs-list-container {
  list-style: none;
  margin-left: -40px;
  width: 70vw;
}
