.job-details-page {
  background-color: black;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
}

.job-details-container {
  display: flex;
  padding: 40px;
  flex-direction: column;
  color: white;
}

.job-details-card {
  display: flex;
  flex-direction: column;
  background-color: #2f2f2f;
  padding: 40px;
  border-radius: 20px;
  margin: 10px;
}

.title-label {
  display: flex;
  flex-direction: row;
}

.company-logo {
  width: 56px;
  height: 56px;
}
.title-text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-weight: bold;

  margin-left: 20px;
  max-height: 56px;
}
.title {
  font-size: 18px;
  font-weight: 500;
}

.star-logo {
  color: gold;
}

.location-label {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.h-line {
  width: 88vw;
  color: white;
}

.desc-head-label {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.sub-heads {
  font-size: 28px;
  font-weight: 500;
}

.visit {
  color: #b6c5ff;
  text-decoration: none;
}
